//global styles and variables

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap");

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: #006450;
$light: #f8f8f8;

$main-font: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

html {
  background: linear-gradient(to right top, $turquoise, $green);
}

html,
body {
  height: 100%;
  font-family: $main-font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}