<div class="wrapper">
    <div class="task-manager">
        <div class="sidebar">
            <h2 class="sidebar__title title">Lists</h2>
            <ul class="sidebar__list">
                <li class="sidebar__item is-active">List #1</li>
                <li class="sidebar__item">List #1</li>
                <li class="sidebar__item">List #1</li>
                <li class="sidebar__item">List #1</li>
            </ul>
            <button mat-raised-button color="primary" class="button">+ New List</button>
        </div>
        <div class="tasks">
            <h2 class="tasks__title title">Tasks</h2>
            <ul class="tasks__list">
                <li class="tasks__item completed">This is smth I have to do</li>
                <li class="tasks__item">This is smth I have to do</li>
                <li class="tasks__item">This is smth I have to do</li>
            </ul>
        </div>
    </div>
</div>